.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-control{
    width: 50%;
    display: flex;
    input{
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
    }
    p{
        padding: 0 1rem;
    }
}
input[type="range"]:focus{
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}
.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 50%;
    svg{
        cursor: pointer;
    }
}

.track{
    background: rgb(255 222 154);
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.animate-track{
    background: rgb(111, 111, 111);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    pointer-events: none;
    border-radius: 1rem;
}