@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  transition: all 1s ease;
}

.activeList {
  margin-left: 15%;
}

.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
}
.time-control input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}
.time-control p {
  padding: 0 1rem;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
}
.play-control svg {
  cursor: pointer;
}

.track {
  background: rgb(255, 222, 154);
  width: 100%;
  height: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.animate-track {
  background: rgb(111, 111, 111);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  pointer-events: none;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
.song_container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.song_container img {
  width: 20%;
  border-radius: 50%;
}
.song_container h2 {
  padding: 3rem 1rem 1rem 1rem;
  font-family: "Fugaz One", cursive;
  color: rgb(54, 54, 54);
}
.song_container h3 {
  font-size: 1.3rem;
  font-family: "Markazi Text", serif;
  color: rgb(54, 54, 54);
}

@media screen and (max-width: 768px) {
  .song_container img {
    width: 60%;
  }
}
.song-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgb(228, 226, 226);
  box-shadow: 2px 2px 50px rgb(241, 235, 235);
  overflow: scroll;
  transition: all 1s linear;
}
.song-list h2 {
  padding: 1vw;
  text-align: center;
  font-family: "Calistoga", cursive;
}

.song-list-item {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
  align-items: center;
}
.song-list-item img {
  width: 40%;
  border-radius: 4px;
}

.song-item {
  display: flex;
  margin-bottom: 4vh;
  cursor: pointer;
}
.song-item:hover {
  background-color: rgb(200, 200, 200);
}

.song-description {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.song-description h3 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  margin-bottom: 1vh;
}
.song-description h4 {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(107, 126, 148);
}

.displayList {
  transform: translateX(-30vw);
}

@media screen and (max-width: 768px) {
  .song-list {
    width: 100vw;
    transition: all 1s ease;
  }
  .displayList {
    transform: translateX(-100vw);
  }
}
nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav button {
  background: transparent;
  border: 2px solid rgb(65, 65, 65);
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3 ease;
}
nav button:hover {
  background: rgb(65, 65, 65);
  color: white;
  border: 2px solid rgb(153, 153, 153);
}

#button-toggle, #app-tittle {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 5px;
}

#app-tittle {
  color: orange;
}

@media screen and (max-width: 768px) {
  nav button {
    z-index: 10;
    position: fixed;
    top: 0.6vh;
    right: 5vw;
  }
  #app-tittle {
    position: fixed;
    top: 0.6vh;
    left: 5vw;
  }
}/*# sourceMappingURL=style.css.map */